h1 {
  background-color: black
  font-size: 40pt;
}

#food-list {
  height: 600px;
  width: 100px;
  overflow: auto
}
#add-food {
  width: 240px;
  clear: both;
}

#add-food h3 {
  text-align: center;
}

#add-food input {
  width: 100%:
  clear: both;
  float: right
}
