/target
/lib
/classes
/checkouts
/node_modules
/resources/dist
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
/.lein-repl-history
/.nrepl-port
/resources/public/js/.tern-port
/resources/js/.tern-port
/log
/.tern-port
/jada-web/js/.tern-port
